*.DS_Store
*~
*.dsl
*.bak
*.pyc
*.swap
*.log
git-credential*
*.backup
.project
.settings
.gitignore
.pydevproject
.idea
cache/
databases/*
databases_*/*
databases_bak/*
errors/
sessions/
uploads/
.hg/