{{extend 'layout.html'}}
<style>
    .bkrs-ch{font-family: KaiTi,simsun,Nsimsun,STKaiti,STSong,arial unicode MS, sans-serif,arial;font-size:16pt;text-align: center;}
    .bkrs-py{font-family:STSong, STKaiti, sans-serif, arial;font-size:12pt;font-weight:bold;}
    .bkrs-ru{font-family:arial;font-size:12pt; line-height: 1.42; text-align: left; white-space: pre-wrap; word-wrap: break-word; padding: 12px 15px;}
    .bkrs-ru p{margin-bottom: 0; margin-top: 0; padding:1px;}
    .bkrs-p{
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: normal;
        color: #ffffff;
        line-height: 1;
        vertical-align: middle;
        white-space: nowrap;
        text-align: center;
        background-color: #93c54b;
        border-radius: 10px;
    }
    .bkrs-c{
        color:blueviolet;
    }
    .bkrs-divider{
        margin: 10px 0;
        border: 0;
        border-top: 1px dashed #cccccc;
    }
    .bkrs-m-2{
        margin-left: 3em;
    }
    .bkrs-m-3{
        margin-left: 6em;
    }
    .bkrs-m-4{
        margin-left: 9em;
    }
    .bkrs-ex{
        border: 1px dotted;
        font-size: 90%;
    }
    .bkrs-star {
        display: list-item;
    }
    .bkrs-c-brown{
        color: brown;
    }
    .bkrs-c-black{
        color: black;
    }
    .bkrs-c-red{
        color: red;
    }
    .bkrs-c-crimson{
        color: crimson;
    }
    .bkrs-c-green{
        color: green;
    }
    .bkrs-c-violet{
        color: violet;
    }
    .bkrs-c-gray{
        color: gray;
    }
</style>
{{=form}}
